<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:sec="http://xmlns.oracle.com/weblogic/security" xmlns:wls="http://xmlns.oracle.com/weblogic/security/wls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.oracle.com/weblogic/security/xacml http://xmlns.oracle.com/weblogic/security/xacml/1.0/xacml.xsd http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator/1.0/passwordvalidator.xsd http://xmlns.oracle.com/weblogic/domain http://xmlns.oracle.com/weblogic/1.0/domain.xsd http://xmlns.oracle.com/weblogic/security http://xmlns.oracle.com/weblogic/1.0/security.xsd http://xmlns.oracle.com/weblogic/security/wls http://xmlns.oracle.com/weblogic/security/wls/1.0/wls.xsd">
  <name>admin_domain</name>
  <domain-version>10.3.6.0</domain-version>
  <security-configuration>
    <name>admin_domain</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType"></sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:active-type>AuthenticatedUser</sec:active-type>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-role-mapperType"></sec:role-mapper>
      <sec:authorizer xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-authorizerType"></sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType"></sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType"></sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType"></sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
      <sec:password-validator xmlns:pas="http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator" xsi:type="pas:system-password-validatorType">
        <sec:name>SystemPasswordValidator</sec:name>
        <pas:min-password-length>8</pas:min-password-length>
        <pas:min-numeric-or-special-characters>1</pas:min-numeric-or-special-characters>
      </sec:password-validator>
    </realm>
    <default-realm>myrealm</default-realm>
    <credential-encrypted>{AES}ZAGQJs5WU7DsC8nKEvcsMmyxhKiDA2IeeRcU1RgiJePmohEO7Zm86yZMxdSt1qBw+pbv1N39U2aDDJD/IYVQQzmiPWN8gvPcAt4p8hLYoIyf77dkmbfCUnrgYx5jXfoa</credential-encrypted>
    <node-manager-username>6shrkrGyGc</node-manager-username>
    <node-manager-password-encrypted>{AES}NeujuYYrt2T/CVzB7OBQU6D6Nilytthr+r3p6zFtPFc=</node-manager-password-encrypted>
  </security-configuration>
  <server>
    <name>AdminServer</name>
    <listen-address></listen-address>
  </server>
  <server>
    <name>app-server-201</name>
    <ssl>
      <enabled>false</enabled>
    </ssl>
    <machine>app-computer-201</machine>
    <listen-port>8001</listen-port>
    <cluster>app-cluster</cluster>
    <listen-address>192.168.24.201</listen-address>
    <jta-migratable-target>
      <user-preferred-server>app-server-201</user-preferred-server>
      <cluster>app-cluster</cluster>
    </jta-migratable-target>
    <data-source>
      <rmi-jdbc-security xsi:nil="true"></rmi-jdbc-security>
    </data-source>
  </server>
  <server>
    <name>app-server-202</name>
    <ssl>
      <enabled>false</enabled>
    </ssl>
    <machine>app-computer-202</machine>
    <listen-port>8001</listen-port>
    <cluster>app-cluster</cluster>
    <listen-address>192.168.24.202</listen-address>
    <jta-migratable-target>
      <user-preferred-server>app-server-202</user-preferred-server>
      <cluster>app-cluster</cluster>
    </jta-migratable-target>
    <data-source>
      <rmi-jdbc-security xsi:nil="true"></rmi-jdbc-security>
    </data-source>
  </server>
  <cluster>
    <name>app-cluster</name>
    <cluster-messaging-mode>unicast</cluster-messaging-mode>
  </cluster>
  <production-mode-enabled>true</production-mode-enabled>
  <embedded-ldap>
    <name>admin_domain</name>
    <credential-encrypted>{AES}ZLhSd62yZKI8ouRZH3UQNKID9aCUQ5UzE1zjUhA+2UlCBdvYf5NfUZx9ft9D0Wl+</credential-encrypted>
  </embedded-ldap>
  <configuration-version>10.3.6.0</configuration-version>
  <machine xsi:type="unix-machineType">
    <name>app-computer-201</name>
    <node-manager>
      <listen-address>192.168.24.201</listen-address>
      <listen-port>8001</listen-port>
    </node-manager>
  </machine>
  <machine xsi:type="unix-machineType">
    <name>app-computer-202</name>
    <node-manager>
      <listen-address>192.168.24.202</listen-address>
      <listen-port>8001</listen-port>
    </node-manager>
  </machine>
  <migratable-target>
    <name>app-server-201 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>app-server-201</user-preferred-server>
    <cluster>app-cluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>app-server-202 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>app-server-202</user-preferred-server>
    <cluster>app-cluster</cluster>
  </migratable-target>
  <admin-server-name>AdminServer</admin-server-name>
</domain>
